.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title img {
  margin: 0 10px;
  max-width: 150px;
  height: auto;
}

.esp-container {
  display: flex;
  justify-content: center;
}

.esp {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  line-height: 100px;
  cursor: pointer;
}

.info {
  margin-top: 20px;
  font-size: 18px;
}
